@media (min-width: 576px) and (max-width: 767px) {
    .main-content {
        display: flex;
        flex-flow: column;
    }

    .RegisterAction {
        display: flex;
        flex-flow: column;
    }

    #regCall {
        text-align: center;
        margin-top: 2rem;
    }

    .signIn-btn {
        margin-top: 1.5rem;
    }

    .profile-pic-section {
        display: flex;
        flex-flow: column;
    }

    .profile-section {
        text-align: center;
    }

    .transaction-list {
        margin-top: 5rem;
        text-align: center;
    }

    .profile-delete {
        margin-left: 30%;
    }

    .section-one {
        margin-top: 4rem;
        margin-bottom: 8rem;
    }

    .section-two {
        margin-top: 8rem;
        margin-bottom: 3rem;
    }

    .profilePic {
        height: 150px;
        width: 150px;
    }
}

@media (min-width: 768px) and (max-width: 1280px) {
    .main-content p {
        width: 500px;
        margin-top: 2rem;
        margin-left: 3rem;
    }

    .signup-block {
        width: 400px;
        margin-left: 5rem;
    }

    .main-content {
        display: flex;
        flex-flow: row;
        text-align: center;
    }

    .register-text {
        margin-top: 5%;
    }

    .search-text {
        text-align: center;
    }

    .main-reg-button {
        width: 500px;
    }
}